* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  background-color: #f1f1f1;
  height: 50vh;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20vh;
  padding: 20px;
  text-align: center;
}
.container h1 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
}
.buttons {
  margin-top: 20px;
}
button {
  padding: 20px;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  transition: all 0.3s ease-in-out;
}
#rock {
  background-color: red;
}
#paper {
  background-color: green;
}
#scissors {
  background-color: blue;
}
button:hover {
  opacity: 0.5;
}
#user-score {
  color: blueviolet;
}
#computer-score {
  color: coral;
}
