body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#timer {
  font-size: 4rem;
  color: #f92672;
  font-weight: 700;
  width: 600px;
  text-align: center;
  margin: 40px auto;
  text-shadow: 2px 2px #f8a5c2;
}
button {
  font-size: 1.5rem;
  background-color: #f92672;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
button:hover {
  background-color: #f44583;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
button[disabled] {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 800px) {
  #timer {
    font-size: 4rem;
    width: 350px;
  }

  button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}
